In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', database = 'prueba_pr1e4_adalab')
mycursor = mydb.cursor()

try: 
    mycursor.execute('''CREATE TABLE datos_sql(
    index_sql INT NOT NULL AUTO_INCREMENT,
    q10_part_1 VARCHAR(250),
    q10_part_2 VARCHAR(250),
    q10_part_3 VARCHAR(250),
    q10_part_4 VARCHAR(250),
    q10_part_5 VARCHAR(250),
    q10_part_6 VARCHAR(250),
    q10_part_7 VARCHAR(250),
    q10_part_8 VARCHAR(250),
    q10_part_9 VARCHAR(250),
    q10_part_10 VARCHAR(250),
    q10_part_11 VARCHAR(250),
    q10_part_12 VARCHAR(250),
    q10_part_13 VARCHAR(250),
    q10_part_14 VARCHAR(250),
    q10_part_15 VARCHAR(250),
    q10_part_16 VARCHAR(250),
    q10_other VARCHAR(250),
    d482xta VARCHAR(250),
    PRIMARY KEY(index_sql))''')

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [3]:
tabla_sql = '''CREATE TABLE datos_sql(
    index_sql INT NOT NULL AUTO_INCREMENT,
    q10_part_1 VARCHAR(250),
    q10_part_2 VARCHAR(250),
    q10_part_3 VARCHAR(250),
    q10_part_4 VARCHAR(250),
    q10_part_5 VARCHAR(250),
    q10_part_6 VARCHAR(250),
    q10_part_7 VARCHAR(250),
    q10_part_8 VARCHAR(250),
    q10_part_9 VARCHAR(250),
    q10_part_10 VARCHAR(250),
    q10_part_11 VARCHAR(250),
    q10_part_12 VARCHAR(250),
    q10_part_13 VARCHAR(250),
    q10_part_14 VARCHAR(250),
    q10_part_15 VARCHAR(250),
    q10_part_16 VARCHAR(250),
    q10_other VARCHAR(250),
    d482xta VARCHAR(250),
    PRIMARY KEY(index_sql))'''

In [4]:
def creacion_tabla(codigo_sql, valor_password, valor_database, valor_user = 'root', valor_host = '127.0.0.1'):
    
    mydb = mysql.connector.connect(user = valor_user, password = valor_password, host = valor_host, database = valor_database)
    mycursor = mydb.cursor()

    try: 
        mycursor.execute(codigo_sql)

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
creacion_tabla(tabla_sql, 'AlumnaAdalab', 'prueba_pr1e4_adalab')

1050 (42S01): Table 'datos_sql' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'datos_sql' already exists

In [7]:
mydb = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', database = 'prueba_pr1e4_adalab')
mycursor = mydb.cursor()

sql = 'INSERT INTO datos_sql VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(2, '50-54', 'Man','784', '50-54', 'Man','784', '50-54', 'Man','784', '50-54', 'Man','784', '50-54', 'Man','784', '50-54','784', '50-54'), (3, '50-54', 'Man','784', '50-54', 'Man','784', '50-54', 'Man','784', '50-54', 'Man','784', '50-54', 'Man','784', '50-54','784', '50-54')]

try: 
    mycursor.executemany(sql, val)
    mydb.commit()
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [ ]:
def insercion_datos(codigo_sql, valores, valor_password, valor_database, valor_user = 'root', valor_host = '127.0.0.1'):
    mydb = mysql.connector.connect(user = valor_user, password = valor_password, host = valor_host, database = valor_database)
    mycursor = mydb.cursor()

    try: 
        mycursor.executemany(codigo_sql, valores)
        mydb.commit()
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)